@page
@model Restaurant.Services.Identity.MainModule.ExternalLogin.Challenge

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>